.djangocms-socialshare-plugin {
    display: flex;
}

.djangocms-socialshare-plugin .icon {
    display: block;
    margin-right: 8px;
}

.djangocms-socialshare-plugin .icon .fab, .djangocms-socialshare-plugin .icon .fas {
    padding: 7px;
    font-size: 16px;
    min-width: 33px;
    color: white;
    text-align: center;
}

.djangocms-socialshare-plugin .icon .fa-facebook-f {
    background-color: #4267B2;
}

.djangocms-socialshare-plugin .icon .fa-facebook-f:hover {
    background-color: #2d477a;
    cursor: pointer;
}

.djangocms-socialshare-plugin .icon .fa-linkedin-in {
    background-color: #0277b5;
}

.djangocms-socialshare-plugin .icon .fa-linkedin-in:hover {
    background-color: #014569;
    cursor: pointer;
}

.djangocms-socialshare-plugin .icon .fa-envelope {
    background-color: #0277b5;
}

.djangocms-socialshare-plugin .icon .fa-envelope:hover {
    background-color: #014569;
    cursor: pointer;
}
